{% extends "base.html" %}
{% load static %}
{% block title %}{{ recipe.title }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/single.css' %}">
{% endblock %}
    {% block header %}{%include 'headerNotAuth.html' %}{% endblock %}
    {% block content %}
        <div class="single-card" data-id="{{ recipe.id }}">
            {% load thumbnail %}
            {% thumbnail recipe.image "960x500" as im %}
            <img src="{{ im.url }}" alt="Картинка" class="single-card__image">
            <div class="single-card__info">
                <div class="single-card__header-info">
                    <h1 class="single-card__title">{{ recipe.title }}</h1>
                </div>
                <ul class="single-card__items">
                    {% for tag in recipe.tags.all %}
                        <li class="card__item"><span class="badge badge_style_{{ tag.color }}">{{ tag.title }}</span></li>
                    {% endfor %}
                </ul>
                <div class="single-card__items single-card__items_column">
                    <p class="single-card__text"><span class="icon-time"></span>{{ recipe.duration }} мин.</p>
                    <p class="single-card__text"><span class="icon-user"></span>{{ recipe.author.get_full_name }}</p>
                </div>
                {% if request.user.is_authenticated %}
                <ul class="single-card__items">
                    <li class="single-card__item">
                        <button class="button button_style_blue" name="purchases" data-out>
                            <span class="icon-plus"></span>Добавить в покупки</button>
                    </li>
                </ul>
                {% endif %}
                <div class="single-card__section">
                    <h3 class="single-card__section-title">Ингредиенты:</h3>
                    <div class="single-card__items single-card__items_column">
                        {% for ing in recipe.quantity.all %}
                        <p class=" single-card__section-item">{{ ing.ingredient.title }} - {% if ing.amount > 0 %}{{ ing.amount|floatformat:-1 }}{% endif %} {{ ing.ingredient.dimension }}.</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="single-card__section">
                    <h3 class="single-card__section-title">Описание:</h3>
                    <p class=" single-card__section-text">{{ recipe.text }}</p>
                </div>
            </div>
        </div>
    </main>
        {% endthumbnail %}
        {% endblock content %}
    {% block style %}
    <script src="{% static './js/components/Purchases.js' %}"></script>
    <script src="{% static './js/config/config.js' %}"></script>
    <script src="{% static './js/components/MainCards.js' %}"></script>
    <script src="{% static './js/components/SingleCard.js' %}"></script>
    <script src="{% static './js/components/Header.js' %}"></script>
    <script src="{% static './js/api/Api.js' %}"></script>
    <script src="{% static 'singlePageNotAuth.js' %}"></script>
    {% endblock style %}
